@import 'highlight.js/styles/tokyo-night-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    list-style: revert !important;
    list-style-type: inside !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0 !important;
    font-size: revert !important;
  }

  pre {
    margin: 10px 0 !important;
  }

  p {
    margin: 10px 0 !important;
  }
}

@layer utilities {
  .animation-delay {
    animation-delay: calc(2000ms * 0.1 * var(--i));
  }
}
